<launch>
  <!-- Run the MEx Sentinel -->
 <node name="mex_sentinel" pkg="simple_sim" type="mex_sentinel.py" output="screen"/>

  <!-- Run the Job Manager -->
 <node name="job_manager" pkg="simple_sim" type="job_manager.py" output="screen"/>

  <!-- Run the rviz locations marker publisher -->
 <node name="marker_array" pkg="simple_sim" type="marker_array.py" output="screen"/>

  <!-- Run the Fleet Management Front End (GUI) -->
 <node name="fleet_manager_front" pkg="simple_sim" type="fleet_manager_front.py" output="screen"/>

</launch>